################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/



/NHLStats/TestHarnessConsole
/NHLStats/TestHarness
